@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syne+Mono&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #ccc;
  font-family: 'Syne Mono', cursive;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 3px;
}

p {
  background-color: #ccc;
  border-radius: 1rem;
  padding: 3rem 1rem;
  color: #111;
  font-size: 1.2em;
  text-align: center;
}

kbd,
button.ok {
  background-color: #333;
  color: #ccc;
  border-radius: 2px;
  padding: 3px;
  font-family: 'Courier New', Courier, monospace;
}

p button.ok {
  font-size: 2rem;
  font-family: inherit;
  display: inline-block;
  margin-top: 1em;
}

.game {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
  align-content: end;
  border: 2px solid #999;
  border-radius: 1rem;
  box-shadow: inset 0 0 .5em #999, 0 0 1em #999;
  padding: .5rem;
  max-width: 600px;
  width: 95%;
  height: 85vh;
  position: relative;
}

.block {
  aspect-ratio: 1;
  border-radius: 4px;
}

.block.matched {
  animation: match 2s forwards linear
}

@keyframes match {
  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    transform: scaleY(1) translateY(0);
  }

  100% {
    transform: scaleY(0) translateY(100%);
  }
}

.block.collapse {
  animation: collapse 2s forwards linear
}

@keyframes collapse {
  0% {
    transform: none;
  }

  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%)
  }
}

.game-over {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
  background-color: #0003;
  background-image: repeating-linear-gradient(45deg, #0003 0%, #0006 10%, #0003 20%);
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.start-game {
  font-size: 3rem;
  padding: .5rem 2rem;
  margin: 1rem;
  border-radius: 2rem;
}

.controls {
  margin-bottom: 2rem;
}

.controls button {
  font-size: 2rem;
  margin: 1rem;
  border-radius: .5rem;
}

button {
  border: 0;
  font-family: inherit;

}

button:not(:disabled):hover {
  cursor: pointer;
  transform: scale(1.02)
}

@media (pointer: coarse) {
  .controls button {
    font-size: 3rem;
  }
}

.count {
  color: #ccc;
  font-size: 1.8em;
  margin: 1em 0;
}